<div class="horizontal-scroll">
  <table class="table table-hover">
    <thead>
      <tr class="black-muted-bg">
        <th>#</th>
        <th>UID</th>
        <th class="align-left">Email</th>
        <th class="align-left">Username</th>
        <th class="align-left">Name</th>
        <th class="align-right">Role</th>
        <th class="align-right">Change Role</th>
        <th class="align-right"># Systems/Clients</th>
        <th class="align-right"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i=index" class="no-top-border">
        <td class="align-left">{{ i + 1 }}</td>
        <td class="align-left">
          <span>{{ user.$key }}</span>
        </td>
        <td class="align-left">
          <span>{{ user.email }}</span>
        </td>
        <td class="align-left">
          <span>{{ user.user_name }}</span>
        </td>
        <td class="align-left">
          <span>{{ user.first_name }} {{ user.last_name }}</span>
        </td>
        <td class="align-right">
          <span>{{ user.role }}</span>
        </td>
        <td class="align-right">
          <div class="form-group">
            <select placeholder="Role" (change)="changeRole(user.$key, $event.target.value)">
             <option *ngFor="let role of roles" [ngValue]="role.value" [selected]="role.value == user.role" >
                   {{ role.value }}
             </option>
          </select>
          </div>
        </td>
        <td class="align-right">
          <span class="label label-default" *ngIf="user.systems; else admin_template">
              <span>{{ user.systems?.length || '0' }}</span>
          </span>
          <ng-template #admin_template>
            <span class="label label-danger">
              <span>{{ user.clients?.length || '0' }}</span>
            </span>
          </ng-template>
        </td>
        <td class="align-right">
          <a class="btn btn-xs btn-info" [routerLink]="['/pages/users/view', user.$key]" role="button">
            <i class="fa fa-eye"></i> View
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
